@(linesForm: Form[InputLines])

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Companies") {
    
    <h1>Add many companies</h1>

    <p>You may enter in many companies at once. One company with their address name per line.</p>

    <p>Address is in standard format, with fields separated by commas: Company,Street,City,State</p>

    <p>Example: IMI, 1201 Mason Street, San Francisco, California</p>

    @helper.form(routes.CompanyController.saveMany()) {

        <fieldset>
            @helper.textarea(linesForm("lines"), 'rows -> 10, 'cols -> 80, '_label -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Add these companies" class="btn primary"> or
            <a href="@routes.CompanyController.list()" class="btn">Cancel</a>
        </div>
    }

}