@(currentPage: List[PictureCollection])

@main("FleetTLC - List Pictures") {

    <h1 id="homeTitle">@Messages("picture.list.title", currentPage.size())</h1>

    @if(currentPage.size() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="pictures zebra-striped">
            <thead>
                <tr>
                    <th>Pictures</th>
                </tr>
            </thead>
            <tbody>

                @for(entry <- currentPage) {
                    <tr>
                        <td>@entry.picture</td>
                    </tr>
                }

            </tbody>
        </table>

    }
}

            