@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the header of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("FleetTLC") {

    <h3><a href="@routes.EntryController.list()">Entries</a></h3>

    <p>Display the list of uploaded entries from the technicians.</p>

    <h3><a href="@routes.ClientController.list">Users</a></h3>

    <p>Manage a list of users. These would be the technicians that are sending data up from the tablets using the APP.</p>

    <h3><a href="@routes.ProjectController.list">Projects</a></h3>

    <p>Manage the list of projects.</p>

    <h3><a href="@routes.CompanyController.list()">Companies</a></h3>

    <p>Manage the list of companies and their addresses.</p>

    <h3><a href="@routes.EquipmentController.list">Equipments</a></h3>

    <p>Manage the list of equipments and their association with projects.</p>

    <h3><a href="@routes.NoteController.list">Notes</a></h3>

    <p>Manage the list of notes and their association with projects.</p>

}
