# general
*~
*.log
*.iml
*.ipr
*.iws
*.class
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
.idea
out

.*.swp
.*.swo
.~lock*

#swp SBT
dist
project
target/
target
.target

# Play
logs
RUNNING_PID
