@import models.flow.Prompt
@import helper._

@(textField: Field, textArgs: (Symbol,Any)*)(checkboxField: Field, checkboxArgs: (Symbol,Any)*)(selectField: Field)(globalArgs: (Symbol,Any)*)(implicit fc: b3.B3FieldConstructor, msgsProv: MessagesProvider)

@promptChanged() = @{ "onPromptSelected('" + selectField.name + "','" + textField.name + "')" }

@b3.multifield(textField, checkboxField)(globalArgs, textArgs ++ checkboxArgs) { implicit cfc =>

    <div class="input-text-checkbox input-group" @toHtmlArgs(bs.Args.inner(globalArgs).toMap)>
        <span class="input-group-addon">
            @b3.checkbox(checkboxField, checkboxArgs:_*)
        </span>
        @b3.text(textField, textArgs:_*)
        @b3.select(selectField,
            options = options(Prompt.listPromptsWithBlank()),
            args = '_label -> "Prompts:", 'onchange -> promptChanged()
        )
    </div>
}

<script type="text/javascript">

    function onPromptSelected(selectName, textName) {
        var e = document.getElementById(selectName);
        var selected = e.options[e.selectedIndex].value;
        document.getElementById(textName).value = selected;
    }

</script>

