@(id: Long, techForm: Form[Client])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Client") {
    
    <h1>Edit client</h1>
    
    @b3.form(routes.ClientController.update(id)) {
        
        <fieldset>

            @b3.text(techForm("name"), '_label -> "Logon name", '_help -> "")
            @b3.text(techForm("password"), '_label -> "Password", '_help -> "")

            <table class="projects zebra-striped">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                @for(project <- Project.list()) {
                <tr>
                    <td>@project.name</td>
                    <td>
                        @if(Client.hasProject(id, project.id)) {
                            <a href="@routes.ClientController.removeProject(id, project.id)">Delete</a>
                        } else {
                            <a href="@routes.ClientController.addProject(id, project.id)">Add</a>
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this client" class="btn primary"> or
            <a href="@routes.ClientController.list()" class="btn">Cancel</a>
        </div>

    }
    
    @b3.form(routes.ClientController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this client" class="btn danger">
    }
    
}
