@(techForm: Form[views.formdata.InputClient])

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Client", home = "/client") {
    
    <h1>Add a client</h1>
    
    @b3.form(routes.ClientController.save()) {

        @CSRF.formField

        <fieldset>
            @b3.text(techForm("name"), '_label -> "Logon name:  ", '_help -> "")
            @b3.text(techForm("password"), '_label -> "Password:  ", '_help -> "")

            <h3>Options</h3>

            <div class="checkbox-container">

                @b3.checkbox(techForm("hasShowPictures"), '_label -> "Show Pictures")
                <div style="clear:both;"></div>
                @b3.checkbox(techForm("hasShowTrucks"), '_label -> "Show Trucks")
                <div style="clear:both;"></div>
                @b3.checkbox(techForm("hasShowAllNotes"), '_label -> "Show All Notes")
                <div style="clear:both;"></div>
                @b3.checkbox(techForm("hasShowAllEquipments"), '_label -> "Show All Equipments")
                <div style="clear:both;"></div>

            </div>

            <h3>Projects</h3>

            <div class="checkbox-container">

                @for(project <- Project.list()) {
                    @b3.checkbox(techForm(project.getFullProjectName()), '_label -> project.getFullProjectName())
                    <div style="clear:both;"></div>
                }

            </div>

            <h3>Companies</h3>

            <div class="checkbox-container-columns">

                @for(companyName <- CompanyName.list()) {
                    @b3.checkbox(techForm(companyName.idString()), '_label -> companyName.name)
                    <div style="clear:both;"></div>
                }

            </div>

            <h3>Notes</h3>

            <div class="checkbox-container-columns">

                @for(note <- Note.list()) {
                    @b3.checkbox(techForm(note.idString()), '_label -> note.name)
                    <div style="clear:both;"></div>
                }

            </div>

            <h3>Equipments</h3>

            <div class="checkbox-container-columns">

                @for(equipment <- Equipment.list()) {
                    @b3.checkbox(techForm(equipment.idString()), '_label -> equipment.name)
                    <div style="clear:both;"></div>
                }

            </div>

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this client" class="btn primary"> or
            <a href="@routes.ClientController.list()" class="btn">Cancel</a>
        </div>
        
    }

    <script type="text/javascript">
        function setNoteStates() {
            var flag = document.getElementById("hasShowAllNotes").checked;
            @for(note <- Note.list()) {
                document.getElementById("@note.idString()").checked = flag;
            }
        }
        document.getElementById("hasShowAllNotes").onclick = setNoteStates

         function setEquipmentStates() {
            var flag = document.getElementById("hasShowAllEquipments").checked;
            @for(equipment <- Equipment.list()) {
                var str = "@equipment.name";
                document.getElementById("@equipment.idString()").checked = flag;
            }
        }
        document.getElementById("hasShowAllEquipments").onclick = setEquipmentStates;
    </script>

}