@(techForm: Form[InputClient])

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Client") {
    
    <h1>Add a client</h1>
    
    @b3.form(routes.ClientController.save()) {
        
        <fieldset>
            @b3.text(techForm("name"), '_label -> "Logon name:  ", '_help -> "")
            @b3.text(techForm("password"), '_label -> "Password:  ", '_help -> "")
            @for(project <- Project.list()) {
                @b3.checkbox(techForm(project.name), '_label -> project.name)
                <p><br></p>
            }
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this client" class="btn primary"> or
            <a href="@routes.ClientController.list()" class="btn">Cancel</a>
        </div>
        
    }

}