@(techForm: Form[InputClient])

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Client") {
    
    <h1>Add a client</h1>
    
    @b3.form(routes.ClientController.save()) {
        
        <fieldset>
            @b3.text(techForm("name"), '_label -> "Logon name", '_help -> "")
            @b3.text(techForm("password"), '_label -> "Password", '_help -> "")

            <table class="projects zebra-striped">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                @for(project <- Project.list()) {
                <tr>
                    <td>@project.name</td>
                    <td>
                        @if(techForm.get().hasProject(project.id)) {
                            <a href="@routes.ClientController.removeProjectCreate(project.id)">Delete</a>
                        } else {
                            <a href="@routes.ClientController.addProjectCreate(project.id)">Add</a>
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this client" class="btn primary"> or
            <a href="@routes.ClientController.list()" class="btn">Cancel</a>
        </div>
        
    }

}