@(currentPage: List[Client])

@main("FleetTLC - List Users") {

    <h1 id="homeTitle">@Messages("users.list.title", currentPage.size())</h1>

    @if(currentPage.size() == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="clients zebra-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Tech ID</th>
                    <th>Device ID</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>

                @for(client <- currentPage) {
                    <tr>
                        <td>
                            @if(client.first_name == null) {
                                <em>-</em>
                            } else {
                                @client.first_name
                            }
                        </td>
                        <td>
                            @if(client.last_name == null) {
                                <em>-</em>
                            } else {
                                @client.last_name
                            }
                        </td>
                        <td>
                            @client.id
                        </td>
                        <td>
                            @client.device_id
                        </td>
                        <td>
                            <a href="@routes.ClientController.edit(client.id)">Edit</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        
    }

    <a class="btn success" id="add" href="@routes.ClientController.create()">Add a new user</a>
}

            