@(list: List[Company], currentOrder: String, client : Client, disabled : Boolean)

@link(keyName:String) = @{
    var order = currentOrder
    if(keyName != null) {
        if(currentOrder == "asc") {
            order = "desc"
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.CompanyController.list(order, disabled)
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(key)">@title</a>
    </th>
}

@topTitle() = @{ if (disabled) "FleetTLC - List Disabled Companies" else "FleetTLC - List Companies" }

@title = { @Messages("company.list.title", list.size()) }

@main(topTitle(), client) {

    @if(Company.hasDisabled()) {
        @if(disabled) {
            <h1 id="homeTitle" class="fill">@title
                <span style="float:right;font-size:16px">
                    <a href="@routes.CompanyController.list()">Show Active Companies</a>
                </span>
            </h1>
        } else {
            <h1 id="homeTitle" class="fill">@title
                <span style="float:right;font-size:16px">
                    <a href="@routes.CompanyController.list(disabled=true)">Show Disabled Companies</a>
                </span>
            </h1>
        }
    } else {
        <h1 id="homeTitle">@title</h1>
    }

    @if(list.size() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="companies zebra-striped">
            <thead>
                <tr>
                    @header("name", "Name")
                    <th>Addresses</th>
                    <th>Entries</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>

                @for(company <- list) {
                    <tr>
                        <td>
                            @if(company.getName() == null) {
                                <em>-</em>
                            } else {
                                @company.getName()
                            }
                        </td>
                        <td>@company.countAddresses()</td>
                        <td>@company.countNameEntries()</td>
                        <td>
                            <a href="@routes.CompanyController.view(company.id)">View</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    }

    @if(!disabled) {
        <a class="btn success" id="add" href="@routes.CompanyController.create()">Add a new company</a>

        @if(client.is_admin) {
            <a class="btn success" id="addMany" href="@routes.CompanyController.createMany()">Add many companies</a>
        }
    }

}

            