@(companyForm: Form[InputCompany])

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Company", home = "/company") {
    
    <h1>Add a company</h1>
    
    @b3.form(routes.CompanyController.save()) {
        
        <fieldset>
            @b3.text(companyForm("name"), '_label -> "Name", '_help -> "")
            @b3.text(companyForm("street"), '_label -> "Street", '_help -> "")
            @b3.text(companyForm("city"), '_label -> "City", '_help -> "")
            @b3.text(companyForm("state"), '_label -> "State", '_help -> "")
            @b3.text(companyForm("zipcode"), '_label -> "ZIP", '_help -> "")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this company" class="btn primary"> or
            <a href="@routes.CompanyController.list()" class="btn">Cancel</a>
        </div>
        
    }

}