@(linesForm: Form[views.formdata.InputLines])

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Companies", home = "/company") {
    
    <h1>Add many companies</h1>

    <p>You may enter in many companies at once. One company with their address per line.</p>

    <p>Address is in standard format, with fields separated by commas: Company,Street,City,State [ZIP optional]</p>

    <p><pre>IMI, 1201 Mason Street, San Francisco, California</pre></p>

    <p>Or:</p>

    <p><pre>IMI, 1201 Mason Street, San Francisco, California, 94116</pre></p>

    <p>Or, you may enter in just the ZIP CODE, like this: Company,ZIP</p>

    <p><pre>IMI, 94110</pre></p>

    @helper.form(routes.CompanyController.saveMany()) {

        @CSRF.formField

        <fieldset>
            @helper.textarea(linesForm("line"), 'rows -> 10, 'cols -> 80, '_label -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Add these companies" class="btn primary"> or
            <a href="@routes.CompanyController.list()" class="btn">Cancel</a>
        </div>
    }

}