@(currentPage: com.avaje.ebean.PagedList[Company], currentSortBy: String, currentOrder: String, currentFilter: String, client : Client, disabled : Boolean)

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.CompanyController.list(newPage, sortBy, order, currentFilter, disabled)
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@title = { @Messages("company.list.title", currentPage.getTotalRowCount) }

@main("FleetTLC - List Companies", client) {

    @if(Company.hasDisabled()) {
        @if(disabled) {
            <h1 id="homeTitle" class="fill">@title
                <span style="float:right;font-size:16px">
                    <a href="@routes.CompanyController.list()">Show Active Companies</a>
                </span>
            </h1>
        } else {
            <h1 id="homeTitle" class="fill">@title
                <span style="float:right;font-size:16px">
                    <a href="@routes.CompanyController.list(disabled=true)">Show Disabled Companies</a>
                </span>
            </h1>
        }
    } else {
        <h1 id="homeTitle">@title</h1>
    }

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="companies zebra-striped">
            <thead>
                <tr>
                    @header("name", "Name")
                    @header("street", "Street / Plant Name")
                    @header("city", "City")
                    @header("state", "State")
                    @header("zipcode", "ZIP")
                    <th>Entries</th>
                    <th>Edit</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>

                @for(company <- currentPage.getList) {
                    <tr>
                        <td>
                            @if(company.name == null) {
                                <em>-</em>
                            } else {
                                @company.name
                            }
                        </td>
                        <td>
                            @if(company.street == null) {
                                <em>-</em>
                            } else {
                                @company.street
                            }
                        </td>
                        <td>
                            @if(company.city == null) {
                             <em>-</em>
                            } else {
                                @company.city
                            }
                        </td>
                        <td>
                            @if(company.state == null) {
                                <em>-</em>
                            } else {
                                @company.state
                            }
                        </td>
                        <td>
                            @if(company.zipcode == null) {
                                <em>-</em>
                            } else {
                                @company.zipcode
                            }
                        </td>
                        <td>
                            @company.countEntries()
                        </td>
                        <td>
                            <a href="@routes.CompanyController.edit(company.id)">Edit</a>
                        </td>
                        <td>
                            @company.getCreatedBy()
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                </li>
                } else {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
                }
            </ul>
        </div>
    }

    @if(!disabled) {
        <a class="btn success" id="add" href="@routes.CompanyController.create()">Add a new company</a>

        @if(client.is_admin) {
            <a class="btn success" id="addMany" href="@routes.CompanyController.createMany()">Add many companies</a>
        }
    }

}

            