@(entry: Entry, client : Client)

@main("FleetTLC - Show Entry", client, "/entry") {

    <h1 id="homeTitle">Elements
        <span style="float:right;font-size:16px">
            <a href="@routes.EntryController.edit(entry.id)">Edit</a>
        </span>
    </h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Root Project</th>
                <th>Sub Project</th>
                <th>Address</th>
                @if(Client.canViewTrucks(client)) {
                    <th>Truck</th>
                }
                <th>Equipment</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@entry.id</td>
                <td>@entry.getTechName()</td>
                <td>@entry.getDate()</td>
                <td>@entry.getTime()</td>
                <td>@entry.getRootProjectName()</td>
                <td>@entry.getSubProjectName()</td>
                <td>@entry.getAddressLine()</td>
                @if(Client.canViewTrucks(client)) {
                    <td>@entry.getTruckLine()</td>
                }
                <td>@entry.getEquipmentLine(client)</td>
                <td bgcolor="@entry.getCellColor()">@entry.getStatus()</td>
            </tr>
        </tbody>
    </table>

    @if(entry.hasNotes(client)) {

        <h1 id="noteTitle">Notes</h1>

        <table class="notes zebra-striped">
            <thead>
                <tr>
                    <th style="width:100px">ID</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>

            @for(note <- entry.getNotes(client.id)) {
                <tr>
                    <td style="width:100px">@note.id</td>
                    <td>@note.getName()</td>
                    <td>@note.note_value</td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if(Client.canViewPictures(client)) {

        <h1 id="pictureTitle">Pictures</h1>

        @if(entry.isFlowEntry()) {
            @if(entry.hasTruckNumberPictureValue()) {
                <h2>Truck Number</h2>

                <img src='@routes.EntryController.getImage(entry.getTruckNumberPictureValue())'/>
            }
            @if(entry.hasTruckDamagePictureValue()) {
                <h2>Truck Damage</h2>

                <img src='@routes.EntryController.getImage(entry.getTruckDamagePictureValue())'/>
            }

            @for(element <- entry.getPictureFlowElements()) {

                @if(element.isConfirm()) {
                    <h3 id="sectionTitle"><span>&#10003;</span>@element.getPromptIndent()</h3>
                } else if (element.isDialog()) {
                    <h2 id="sectionTitle">@element.prompt</h2>
                } else {
                    <h2 id="sectionTitle">@element.prompt</h2>
                }
                @for(picture <- entry.getFlowPictures(element.id)) {
                    <img src='@routes.EntryController.getImage(picture.picture)'/>
                }
                @if(element.hasNotes()) {
                    <table class="notes zebra-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for(note <- entry.getNoteValuesForElement(client.id, element.id)) {
                                <tr>
                                    <td>@note.getName()</td>
                                    <td>@note.getValue()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        } else {
            <table class="pictures zebra-striped">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item <- entry.getPictures()) {
                        <tr>
                            <td><img src='@routes.EntryController.getImage(item.picture)'/></td>
                            <td>@item.note</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    @if(client.is_admin) {
        <div class="actions">
            <a href="@routes.EntryController.delete(entry.id)" class="btn danger" onclick="return confirm('This cannot be undone. Are you sure?');">Delete this entry</a>
        </div>
    }

    <script type="text/javascript">
        function checkLoadingPictures() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText === "1" && this.status == 200) {
                    location.reload(true);
                }
            };
            xhttp.open("GET", "@routes.EntryController.checkLoadingPictures()", true);
            xhttp.send();
        }
        checkLoadingPictures();
    </script>

}

            
