@(currentPage: EntryPagedList, currentSortBy: String, currentOrder: String, searchForm : Form[InputSearch])

@import helper._

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.EntryController.list(newPage, sortBy, order)
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FleetTLC - List Entries") {

    @if(currentPage.isByTruck()) {
        <h1>TRUCK @currentPage.getByTruckLine()</h1>
    } else {
        @helper.form(action = routes.EntryController.search()) {
            <h1 id="homeTitle">
                <span id="homeCount">...</span>
                <span style="float:right;font-size:16px;padding-left:10px"><a href="@routes.EntryController.export()">Export</a></span>
                <span style="float:right;font-size:16px">
                       <a href="@routes.EntryController.searchClear()" class="btn">Clear</a>
                </span>
                <span style="float:right;font-size:16px">
                        @helper.inputText(searchForm("search"), '_label -> "")
                </span>
                <span style="float:right;font-size:16px"><div class="search">Search:</div></span>
            </h1>
        }
    }

    @if(!currentPage.hasRows()) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

        <script type="text/javascript">
            document.getElementById("homeCount").innerHTML = "No elements";
        </script>

    } else {

        <table>
            <thead>
                <tr>
                    <th>Row</th>
                    @header("tech", "Name")
                    @header("time", "Date")
                    @header("project", "Project")
                    @header("company", "Company")
                    <th>Street / Plant Name</th>
                    @header("city", "City")
                    @header("state", "State")
                    @header("zipcode", "ZIP")
                    @header("truck_number", "Truck")
                    <th>Equipment</th>
                    <th>Pictures</th>
                    <th>Notes</th>
                    <th>View</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @currentPage.resetRowNumber()
                @for(entry <- currentPage.getList()) {
                    @currentPage.incRowNumber()
                    <tr>
                        <td>@currentPage.getRowNumber()</td>
                        <td>@currentPage.highlightSearch(entry.getTechName())</td>
                        <td>@entry.getDate()</td>
                        <td>@currentPage.highlightSearch(entry.getProjectLine())</td>
                        <td>@currentPage.highlightSearch(entry.getCompany())</td>
                        <td>@currentPage.highlightSearch(entry.getStreet())</td>
                        <td>@currentPage.highlightSearch(entry.getCity())</td>
                        <td>@currentPage.highlightSearch(entry.getState())</td>
                        <td>@currentPage.highlightSearch(entry.getZipCode())</td>
                        <td>@currentPage.highlightSearch(entry.getTruckLine())</td>
                        <td>@currentPage.highlightSearch(entry.getEquipmentLine())</td>
                        <td><a href="@routes.EntryController.pictures(entry.id)">@entry.getPictureAddendum()</a></td>
                        <td><a href="@routes.EntryController.notes(entry.id)">@entry.getNoteAddendum()</a></td>
                        <td><a href="@routes.EntryController.view(entry.id)">View</a></td>
                        <td bgcolor="@entry.getCellColor()">@currentPage.highlightSearch(entry.getStatus())</td>
                    </tr>
                }

            </tbody>
        </table>

        @if(!currentPage.isByTruck()) {
            <div id="pagination" class="pagination">
                <ul>
                    <li id="previous" class="prev disabled">
                        <a href="@link(currentPage.getPageIndex() - 1, null)">&larr; Previous</a>
                    </li>
                    <li class="current">
                        <a id="currentPage"></a>
                    </li>
                    <li id="next" class="next disabled">
                        <a href="@link(currentPage.getPageIndex() + 1, null)">Next &rarr;</a>
                    </li>
                </ul>
            </div>

            <script type="text/javascript">
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.responseText.length > 0 && this.status == 200) {
                        var line = this.responseText;
                        var bits = line.split("|");
                        document.getElementById("previous").setAttribute("class", bits[0])
                        document.getElementById("currentPage").innerHTML = bits[1];
                        document.getElementById("next").setAttribute("class", bits[2]);
                        document.getElementById("homeCount").innerHTML = bits[3];
                    }
                };
                xhttp.open("GET", "@routes.EntryController.computeTotalNumRows()", true);
                xhttp.send();
            </script>
        }
    }

}

            
