@(entry: Entry, client : Client)

@main("FleetTLC - Show Entry", client, "/entry") {

    <h1 id="homeTitle">Elements
        <span style="float:right;font-size:16px">
            <a href="@routes.EntryController.edit(entry.id)">Edit</a>
        </span>
    </h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Root Project</th>
                <th>Sub Project</th>
                <th>Address</th>
                <th>Truck</th>
                <th>Equipment</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@entry.getTechName()</td>
                <td>@entry.getDate()</td>
                <td>@entry.getTime()</td>
                <td>@entry.getRootProjectName()</td>
                <td>@entry.getSubProjectName()</td>
                <td>@entry.getAddressLine()</td>
                <td>@entry.getTruckLine()</td>
                <td>@entry.getEquipmentLine()</td>
                <td bgcolor="@entry.getCellColor()">@entry.getStatus()</td>
            </tr>
        </tbody>
    </table>

    <h1 id="noteTitle">Notes</h1>

    <table class="notes zebra-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        @for(note <- entry.getNotes()) {
            <tr>
                <td>@note.getName()</td>
                <td>@note.note_value</td>
            </tr>
        }
        </tbody>
    </table>

    <h1 id="pictureTitle">Pictures</h1>

    <table class="pictures zebra-striped">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
            @for(item <- entry.getPictures()) {
                <tr>
                    <td><img src='@routes.EntryController.getImage(item.picture)'/></td>
                    <td>@item.note</td>
                </tr>
            }
        </tbody>
    </table>

    @if(client.is_admin) {
        <div class="actions">
            <a href="@routes.EntryController.delete(entry.id)" class="btn danger" onclick="return confirm('This cannot be undone. Are you sure?');">Delete this entry</a>
        </div>
    }

    <script type="text/javascript">
        function checkLoadingPictures() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText === "1" && this.status == 200) {
                    location.reload(true);
                }
            };
            xhttp.open("GET", "@routes.EntryController.checkLoadingPictures()", true);
            xhttp.send();
        }
        checkLoadingPictures();
    </script>

}

            
