@(currentPage: EntryPagedList, currentSortBy: String, currentOrder: String, searchForm : Form[InputSearch], client : Client)

@import helper._

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.EntryController.list(newPage, sortBy, order)
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FleetTLC - List Entries", client) {

    @if(currentPage.isByTruck()) {
        <h1>TRUCK @currentPage.getByTruckLine()</h1>
    } else {
        @helper.form(action = routes.EntryController.search()) {
            <h1 id="homeTitle">
                <span id="homeCount">...</span>
                <span style="float:right;font-size:16px;padding-left:20px">
                    <a id="export_download" href="@routes.EntryController.exportDownload()"></a>
                </span>
                <span style="float:right;font-size:16px;padding-left:10px"><a id="export">Export</a></span>
                <span style="float:right;font-size:16px">
                       <a href="@routes.EntryController.searchClear()" class="btn">Clear</a>
                </span>
                <span style="float:right;font-size:16px">
                        @helper.inputText(searchForm("search"), '_label -> "")
                </span>
                <span style="float:right;font-size:16px;padding-left:20px"><div class="search">Search:</div></span>
                <span style="float:right;font-size:16px">
                    <div>
                        <select style="width:80px" id="pageSizeSelect" onchange="onPageSizeSelect()">
                            @for(option <- currentPage.getPageSizes()) {
                                <option value="@option.text" @option.selected>@option.text</option>
                            }
                        </select>
                    </div>
                </span>
                <span style="float:right;font-size:16px"><div class="search">Page Size:</div></span>
            </h1>
        }
    }

    @if(!currentPage.hasRows()) {
        <div class="well">
            <em>Nothing to display</em>
        </div>

        <script type="text/javascript">
            document.getElementById("homeCount").innerHTML = "No elements";
        </script>

    } else {

        <table>
            <thead>
                <tr>
                    <th style="width:55px"><input style="margin-right:5px" id="all" type="checkbox" value="ALL">Row</th>
                    @header("tech", "Name")
                    @header("time", "Date")
                    @header("project", "Project")
                    @header("company", "Company")
                    @header("street", "Street / Plant Name")
                    @header("city", "City")
                    @header("state", "State")
                    @header("zipcode", "ZIP")
                    <th>Truck</th>
                    <th>Equipment</th>
                    <th>Pictures</th>
                    <th>Notes</th>
                    <th>View</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @currentPage.resetRowNumber()
                @for(entry <- currentPage.getList()) {
                    @currentPage.incRowNumber()
                    <tr>
                        <td><input class="entryCheckbox" style="margin-right:5px" type="checkbox" value="@entry.id">@currentPage.getRowNumber()</td>
                        <td>@currentPage.highlightSearch(entry.getTechName())</td>
                        <td>@entry.getDate()</td>
                        <td>@currentPage.highlightSearch(entry.getProjectLine())</td>
                        <td>@currentPage.highlightSearch(entry.getCompany())</td>
                        <td>@currentPage.highlightSearch(entry.getStreet())</td>
                        <td>@currentPage.highlightSearch(entry.getCity())</td>
                        <td>@currentPage.highlightSearch(entry.getState())</td>
                        <td>@currentPage.highlightSearch(entry.getZipCode())</td>
                        <td>@currentPage.highlightSearch(entry.getTruckLine())</td>
                        <td>@currentPage.highlightSearch(entry.getEquipmentLine())</td>
                        <td><a href="@routes.EntryController.pictures(entry.id)">@entry.getPictureAddendum()</a></td>
                        <td><a href="@routes.EntryController.notes(entry.id)">@entry.getNoteAddendum()</a></td>
                        <td><a href="@routes.EntryController.view(entry.id)">View</a></td>
                        <td bgcolor="@entry.getCellColor()">@currentPage.highlightSearch(entry.getStatus())</td>
                    </tr>
                }

            </tbody>
        </table>

        @if(!currentPage.isByTruck()) {
            <div id="pagination" class="pagination">
                <ul>
                    <li id="previous" class="prev disabled">
                        <a href="@link(currentPage.getPageIndex() - 1, null)">&larr; Previous</a>
                    </li>
                    <li class="current">
                        <a id="currentPage"></a>
                    </li>
                    <li id="next" class="next disabled">
                        <a href="@link(currentPage.getPageIndex() + 1, null)">Next &rarr;</a>
                    </li>
                </ul>
            </div>

            <script type="text/javascript">
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.responseText.length > 0 && this.status == 200) {
                        var line = this.responseText;
                        var bits = line.split("|");
                        document.getElementById("previous").setAttribute("class", bits[0])
                        document.getElementById("currentPage").innerHTML = bits[1];
                        document.getElementById("next").setAttribute("class", bits[2]);
                        document.getElementById("homeCount").innerHTML = bits[3];
                    }
                };
                xhttp.open("GET", "@routes.EntryController.computeTotalNumRows()", true);
                xhttp.send();
            </script>
        }

        @if(client.is_admin) {
            <div id="div_delete_checked" class="actions">
                <a id="delete_checked" class="btn danger">Delete checked entries</a>
            </div>
        }

        <script type="text/javascript">
            <!-- EXPORT -->
            function myExport() {
                document.getElementById("export").innerHTML = "...";
                document.getElementById("export_download").innerHTML = "";
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.responseText.length > 0 && this.status == 200) {
                        var line = this.responseText;
                        var key = line.substring(0, 1);
                        var value = line.substring(1);
                        if (key == "E") {
                            document.getElementById("export").innerHTML = "Export";
                            document.getElementById("export_download").innerHTML = value;
                        } else if (key == "#") {
                            document.getElementById("export").innerHTML = value;
                            xhttp.open("GET", "@routes.EntryController.exportNext()", true);
                            xhttp.send();
                        } else if (key == "R") {
                            document.getElementById("export").innerHTML = "Export";
                            document.getElementById("export_download").innerHTML = "";
                        }
                    }
                };
                xhttp.open("GET", "@routes.EntryController.export()", true);
                xhttp.send();
            }
            document.getElementById("export").onclick = myExport;
            document.getElementById("export").innerHTML = "Export";
            document.getElementById("export_download").innerHTML = "";

            <!-- DELETE -->
            function myDelete() {
                document.getElementById("div_delete_checked").style.display = "none";
                var checkedValues = [];
                var inputElements = document.getElementsByClassName('entryCheckbox');
                for (var i=0; inputElements[i]; ++i) {
                    if (inputElements[i].checked) {
                        checkedValues.push(inputElements[i].value);
                        inputElements[i].checked = false;
                    }
                }
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.responseText.length > 0 && this.status == 200) {
                        document.getElementById("div_delete_checked").style.display = "block";
                        location.reload(true);
                    }
                };
                var call = "/entry/delete_entries/" + checkedValues.join();
                xhttp.open("GET", call, true);
                xhttp.send();
            }

            function myConfirmDelete() {
                var inputElements = document.getElementsByClassName('entryCheckbox');
                var message;
                if (inputElements.length == 1) {
                    message = "Deleting this element cannot be undone. Are you sure?";
                } else {
                    message = "Deleting these " + inputElements.length + " elements cannot be undone. Are you sure?";
                }
                if (confirm(message)) {
                    myDelete();
                }
            }

            document.getElementById("delete_checked").onclick = myConfirmDelete;

            <!-- ALL CHECKBOX -->

            function myCheckboxALL() {
                var allCheckbox = document.getElementById('all');
                var inputElements = document.getElementsByClassName('entryCheckbox');
                for (var i=0; inputElements[i]; ++i) {
                    inputElements[i].checked = allCheckbox.checked;
                }
            }

            document.getElementById("all").onclick = myCheckboxALL;

            <!-- PAGE SIZE SELECT -->

            function onPageSizeSelect() {
            	var e = document.getElementById("pageSizeSelect");
                var selected = e.options[e.selectedIndex].value;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.responseText.length > 0 && this.status == 200) {
                        location.reload(true);
                    }
                };
                var call = "/entry/page_size/" + selected;
                xhttp.open("GET", call, true);
                xhttp.send();
            }

       </script>
    }

}

            
