@(id: Long, entryForm: Form[views.formdata.EntryFormData], noteValues: DynamicForm, home : String, client : Client)

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Entry", client, home) {

    <h1>Edit entry</h1>

    @b3.form(routes.EntryController.update(id)) {

        @CSRF.formField

        <fieldset>

            @b3.select(
                entryForm("name"),
                options(Entry.optionsTech),
                '_label -> "Name", '_default -> "-- Choose Tech --",
                '_showConstraints -> false
            )
            @b3.text(entryForm("date"), '_label -> "Date", '_help -> "")
            @b3.select(
                entryForm("rootProject"),
                options(Entry.optionsRootProject),
                '_label -> "Root Project", '_default -> "-- Choose Root Project --",
                '_showConstraints -> false,
                'onchange -> "onRootProjectSelected()"
            )
            @b3.select(
                entryForm("subProject"),
                options(entryForm.get().optionsSubProject),
                '_label -> "Sub Project",
                '_default -> "-- Choose Sub Project --",
                '_showConstraints -> false
            )
            @b3.text(entryForm("address"), '_label -> "Address", '_help -> "")
            @b3.text(entryForm("truck"), '_label -> "Truck", '_help -> "")
            @b3.select(
                entryForm("status"),
                options(Entry.optionsStatus),
                '_label -> "Status", '_default -> "-- Choose Status --",
                '_showConstraints -> false
            )
        </fieldset>

        <h3>Equipment</h3>

        <div class="checkbox-container-columns">

            @for(equipment <- Equipment.list()) {
                <div class="checkbox-item">
                    @if(Entry.hasEquipment(id, equipment.id)) {
                        @b3.checkbox(entryForm(equipment.name), '_label -> equipment.name, 'checked -> true)
                    } else {
                        @b3.checkbox(entryForm(equipment.name), '_label -> equipment.name)
                    }
                </div>
                <div style="clear:both;"></div>
            }

        </div>

        <h3>Notes</h3>

        <div class="checkbox-container-columns">

            @for(note <- Note.list()) {
                <div class="checkbox-item">
                    @if(Entry.hasNote(id, note.id)) {
                        @b3.checkbox(entryForm(note.name), '_label -> note.name, 'checked -> true)
                    } else {
                        @b3.checkbox(entryForm(note.name), '_label -> note.name)
                    }
                </div>
                <div style="clear:both;"></div>
            }

        </div>

        <h3>Note Values</h3>

        <div>

            @for(note <- Entry.getNotesForId(client.id, id)) {
                @{
                    val name = note.getName()
                    val valueName = "value_" + name
                    b3.text(noteValues(valueName), '_label -> name, '_help -> "")
                }
            }

        </div>

        <div class="actions">
            <input type="submit" value="Save this entry" class="btn primary"> or
            <a href=@home class="btn">Cancel</a>
        </div>

    }

    <script type="text/javascript">

        function onRootProjectSelected() {
            var e = document.getElementById("rootProject");
            var selected = e.options[e.selectedIndex].value;

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText.length > 0 && this.status == 200) {
                    var line = this.responseText;
                    var words = line.split("\n");
                    var e2 = document.getElementById("subProject");
                    for (var i = e2.options.length-1; i >= 0; i--) {
                        e2.remove(i);
                    }
                    for (var i2 = 0; i2 < words.length; i2++) {
                        var option = document.createElement("option");
                        option.text = words[i2];
                        e2.add(option);
                    }
                }
            };
            var call = "/project/root/sub/" + e.selectedIndex.toString();
            xhttp.open("GET", call, true);
            xhttp.send();
        }

    </script>

}
