@(entry: Entry, client : Client)

@main("FleetTLC - Show Entry", client, "/entry") {

    <h1 id="homeTitle">Elements</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Project</th>
                <th>Address</th>
                <th>Truck</th>
                <th>Equipment</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@entry.getTechName()</td>
                <td>@entry.entry_time.format("yyyy-MM-dd kk:mm")</td>
                <td>@entry.getProjectLine()</td>
                <td>@entry.getAddressLine()</td>
                <td>@entry.getTruckLine()</td>
                <td>@entry.getEquipmentLine()</td>
                <td bgcolor="@entry.getCellColor()">@entry.getStatus()</td>
            </tr>
        </tbody>
    </table>

    <h1 id="noteTitle">Notes</h1>

    <table class="notes zebra-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        @for(note <- entry.getNotes()) {
            <tr>
                <td>@note.getName()</td>
                <td>@note.note_value</td>
            </tr>
        }
        </tbody>
    </table>

    <h1 id="pictureTitle">Pictures</h1>

    <table class="pictures zebra-striped">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
            @for(item <- entry.getPictures()) {
                <tr>
                    <td><img src='@routes.EntryController.getImage(item.picture)'/></td>
                    <td>@item.note</td>
                </tr>
            }
        </tbody>
    </table>

    @if(client.is_admin) {
        <div class="actions">
            <a href="@routes.EntryController.delete(entry.id)" class="btn danger" onclick="return confirm('This cannot be undone. Are you sure?');">Delete this entry</a>
        </div>
    }

}

            