@(currentPage: EntryList, currentSortBy: String, currentOrder: String, searchForm : Form[InputLines])

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.EntryController.list(newPage, sortBy, order)
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FleetTLC - List Entries") {

    <h1 id="homeTitle">@Messages("entry.list.title", currentPage.getTotalRowCount())
        <span style="float:right;font-size:16px">
               <a href="@routes.EntryController.searchClear()" class="btn">Clear</a>
        </span>
        <a href="@routes.ProjectController.list()" class="btn">Cancel</a>
        <span style="float:right;font-size:16px">
            @helper.form(action = routes.EntryController.search()) {
                @helper.inputText(searchForm("lines"), '_label -> "")
            }
        </span>
        <span style="float:right;font-size:16px"><div class="search">Search:</div></span>
    </h1>

    @if(currentPage.getTotalRowCount() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table>
            <thead>
                <tr>
                    <th>Row</th>
                    @header("tech_id", "Name")
                    @header("entry_time", "Date")
                    @header("project_id", "Project")
                    @header("company", "Company")
                    @header("street", "Street / Plant Name")
                    @header("city", "City")
                    @header("state", "State")
                    @header("zipcode", "ZIP")
                    @header("truck_number", "Truck")
                    <th>Equipment</th>
                    <th>Pictures</th>
                    <th>Notes</th>
                    <th>View</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @currentPage.resetRowNumber()
                @for(entry <- currentPage.getList()) {
                    @currentPage.incRowNumber()
                    <tr>
                        <td>@currentPage.getRowNumber()</td>
                        <td>@currentPage.highlightSearch(entry.getTechName())</td>
                        <td>@entry.entry_time.format("yyyy-MM-dd kk:mm")</td>
                        <td>@currentPage.highlightSearch(entry.getProjectLine())</td>
                        <td>@currentPage.highlightSearch(entry.getCompany())</td>
                        <td>@currentPage.highlightSearch(entry.getStreet())</td>
                        <td>@currentPage.highlightSearch(entry.getCity())</td>
                        <td>@currentPage.highlightSearch(entry.getState())</td>
                        <td>@currentPage.highlightSearch(entry.getZipCode())</td>
                        <td>@currentPage.highlightSearch(entry.getTruckLine())</td>
                        <td>@currentPage.highlightSearch(entry.getEquipmentLine())</td>
                        <td><a href="@routes.EntryController.pictures(entry.id)">@entry.getPictureAddendum()</a></td>
                        <td><a href="@routes.EntryController.notes(entry.id)">@entry.getNoteAddendum()</a></td>
                        <td><a href="@routes.EntryController.view(entry.id)">View</a></td>
                        <td bgcolor="@entry.getCellColor()">@currentPage.highlightSearch(entry.getStatus())</td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev()) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex() - 1, null)">&larr; Previous</a>
                </li>
                } else {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext()) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex() + 1, null)">Next &rarr;</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
                }
            </ul>
        </div>
    }

}

            