@(id: Long, equipmentForm: Form[Equipment])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Equipment", home = "/equipment") {
    
    <h1>Edit equipment</h1>
    
    @b3.form(routes.EquipmentController.update(id)) {

        @CSRF.formField

        <fieldset>
        
            @b3.text(equipmentForm("name"), '_label -> "Name", '_help -> "")

        </fieldset>

        <table class="projects zebra-striped">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
                @for(project <- Project.list()) {
                    <tr>
                        <td>@project.name</td>
                        <td>
                            @if(Equipment.hasProject(id, project.id)) {
                                <a href="@routes.EquipmentController.removeProject(id, project.id)">Delete</a>
                            } else {
                                <a href="@routes.EquipmentController.addProject(id, project.id)">Add</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="actions">
            <input type="submit" value="Save this equipment" class="btn primary"> or
            <a href="@routes.EquipmentController.list()" class="btn">Cancel</a>
        </div>

    }

    @b3.form(routes.EquipmentController.delete(id), 'class -> "topRight") {
        @if(Equipment.isDisabled(id)) {
            <a href="@routes.EquipmentController.enable(id)" class="btn">Enable Equipment</a>
        } else {
            @if(Entry.hasEntryForEquipment(id)) {
                <input type="submit" value="Disable equipment" class="btn danger" onclick="return alert('The equipment, since it has entries, will be moved to the disabled list.');">
            } else {
                <input type="submit" value="Delete equipment" class="btn danger" onclick="return confirm('Are you sure you wish to delete this equipment?');">
            }
        }
    }

}
