@(currentPage: com.avaje.ebean.PagedList[Equipment], client : Client, disabled : Boolean)

@header = { @Messages("equipment.list.title", currentPage.getTotalRowCount()) }

@link(newPage:Int) = @{
    routes.EquipmentController.list(newPage, disabled)
}

@main("FleetTLC - List Equipments", client) {

    @if(Equipment.hasDisabled()) {
        @if(disabled) {
            <h1 id="homeTitle" class="fill">@header
                <span style="float:right;font-size:16px">
                    <a href="@routes.EquipmentController.list(0, false)">Show Active Equipments</a>
                </span>
            </h1>
        } else {
            <h1 id="homeTitle" class="fill">@header
                <span style="float:right;font-size:16px">
                    <a href="@routes.EquipmentController.list(0, true)">Show Disabled Equipments</a>
                </span>
            </h1>
        }
    } else {
        <h1 id="homeTitle">@header</h1>
    }

    <h1 id="homeTitle"></h1>

    @if(currentPage.getTotalRowCount() == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="equipments zebra-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Projects</th>
                    <th>Num Entries</th>
                    <th>Edit</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>

                @for(equipment <- currentPage.getList()) {
                    <tr>
                        <td>
                            @if(equipment.name == null) {
                                <em>-</em>
                            } else {
                                @equipment.name
                            }
                        </td>
                        <td id="@equipment.getTagProjectsLine()"></td>
                        <td id="@equipment.getTagNumEntries()"></td>
                        <td><a href="@routes.EquipmentController.edit(equipment.id)">Edit</a></td>
                        <td>@equipment.getCreatedBy()</td>
                    </tr>
                }

            </tbody>
        </table>
        
    }

    @if(!disabled) {
        <a class="btn success" id="add" href="@routes.EquipmentController.create()">Add a new equipment item</a>

        @if(client.is_admin) {
            <a class="btn success" id="addMany" href="@routes.EquipmentController.createMany()">Add many equipment items</a>
        }
    }

    <div id="pagination" class="pagination">
        <ul>
            @if(currentPage.hasPrev()) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex() - 1)">&larr; Previous</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            }
            <li class="current">
                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
            </li>
            @if(currentPage.hasNext()) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex() + 1)">Next &rarr;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>
    </div>

    <script type="text/javascript">
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.responseText.length > 0 && this.status == 200) {
                var line = this.responseText;
                var pos = line.indexOf("|");
                var tag = line.substring(0, pos);
                var value = line.substring(pos+1);
                document.getElementById(tag).innerHTML = value;
                xhttp.open("GET", "@routes.EquipmentController.fillNext()", true);
                xhttp.send();
            }
        };
        xhttp.open("GET", "@routes.EquipmentController.fillNext()", true);
        xhttp.send();
    </script>
}

            