@(client : Client, version : String, msg: String, daily: Daily)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the header of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("FleetTLC", client, "/daily/0") {

    <h2>Data @msg</h2>

    <h3><a href="@routes.EntryController.list()">Entries</a></h3>

    <p>Display the list of uploaded entries from the technicians.</p>

    @if(client.is_admin) {

        <h3><a href="@routes.ProjectController.list()">Projects</a></h3>

        <p>Manage the list of projects.</p>

        <h3><a href="@routes.CompanyController.list()">Companies</a></h3>

        <p>Manage the list of companies and their addresses.</p>

        <h3><a href="@routes.EquipmentController.list()">Equipments</a></h3>

        <p>Manage the list of equipments and their association with projects.</p>

        <h3><a href="@routes.NoteController.list()">Notes</a></h3>

        <p>Manage the list of notes and their association with projects.</p>

        <h2>Administration</h2>

        <h3><a href="@routes.VehicleController.list()">Vehicles</a></h3>

        <p>Manage the list of FleetTLC vehicles.</p>

        <h3><a href="@routes.TechnicianController.list()">Technicians</a></h3>

        <p>Manage the technicians that are sending data up from the tablets using the APP.</p>

        <h3><a href="@routes.ClientController.list()">Clients</a></h3>

        <p>Display list of clients that are able to login to this website and manage their projects.</p>

        <h3><a href="@routes.TruckController.list()">Trucks</a></h3>

        <p>Display list of trucks.</p>

    }

    <h3><a href="@routes.WorkOrderController.list()">Work Orders</a></h3>

    <p>Manage work orders</p>

    @if(client.is_admin) {

        <h2>Development</h2>

        <h3><a href="@routes.MessageController.list()">Errors</a></h3>

        <p>Display list of coding errors received from the app (developer use only)</p>
    }

    <h6>Server version @version</h6>

    @if(client.is_admin) {

		<a id="picture_cleanup" href="@routes.HomeController.index()" class="light">Picture Cleanup</a>

		<p id="cleanup_result"></p>

        <div class="dailyBox">

            <table class="dailyDate" cellpadding="4px">
                <col width="200">
                <col width="80">
                <tr>
                    <th bgcolor="black"><font color="white">Date</font></th>
                    <th>
                        <select style="width:80px" id="dateSelected" onchange="onDateSelected()">
                            @for(choice <- daily.getDates()) {
                                <option value="@choice.date" @choice.getSelected()>@choice.text</option>
                            }
                        </select>
                    </th>
                </tr>
            </table>

            @for(root <- daily.getRootProjects()) {
                <table class="daily" cellpadding="4px">
                    <col width="200">
                    <col width="80">
                    <tr>
                        <th class="daily" bgcolor="black" colspan="2"><font color="white">@root.name</font></th>
                    </tr>

                    @for(project <- root.projects) {
                        <tr>
                            <td class="daily" >@project.name</td>
                            <td class="daily" >@project.count</td>
                        </tr>
                    }
                </table>
            }

        </div>

	}

    <script type="text/javascript">

        function myPictureCleanup() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText.length > 0 && this.status == 200) {
                    document.getElementById("cleanup_result").innerHTML = this.responseText;
                    document.getElementById("picture_cleanup").innerHTML = "Picture Cleanup";
                }
            };
            xhttp.open("GET", "@routes.HomeController.pictureCleanup()", true);
            xhttp.send();
            document.getElementById("picture_cleanup").innerHTML = "";
        }

        function myConfirmPictureCleanup() {
            if (confirm('This will scan and delete all unused picture files and cannot be undone. Are you sure?')) {
                myPictureCleanup();
            }
        }

        document.getElementById("picture_cleanup").onclick = myConfirmPictureCleanup;

        function onDateSelected() {
            var e = document.getElementById("dateSelected");
            var selected = e.options[e.selectedIndex].value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText.length > 0 && this.status == 200) {
                    location.reload(true);
                }
            };
            var call = "/daily/" + selected;
            xhttp.open("GET", call, true);
            xhttp.send();
        }

    </script>


}
