@(currentPage: HoursPagedList, searchForm : Form[views.formdata.InputSearch], client : Client)

@import helper._

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentPage.getSortBy()
    var order = currentPage.getOrder()
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentPage.getSortBy() == newSortBy) {
            if(currentPage.getOrder() == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.HoursController.list(newPage, currentPage.getPageSize(), currentPage.getSortBy(), currentPage.getOrder(), currentPage.getSearchTerm())
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentPage.getSortBy() == key) @{if(currentPage.getOrder() == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FleetTLC - Daily Hours Worked Reports", client) {

    @helper.form(action = routes.HoursController.search(currentPage.getPageIndex(), currentPage.getPageSize(), currentPage.getSortBy(), currentPage.getOrder())) {
        <h1 id="homeTitle">
            <span id="homeCount">...</span>
            <span style="float:right;font-size:16px">
                   <a href="@routes.HoursController.searchClear()" class="btn">Clear</a>
            </span>
            <span style="float:right;font-size:16px">
                    @helper.select(searchForm("searchField"), currentPage.getSearchFieldOptions().map(option => option.value.toString -> option.text.toString), '_label -> "")
            </span>
            <span style="float:right;font-size:16px">
                    @helper.inputText(searchForm("searchTerm"), '_label -> "")
            </span>
            <span style="float:right;font-size:16px;padding-left:20px"><div class="search">Search:</div></span>
            <span style="float:right;font-size:16px">
                <div>
                    <select style="width:80px" id="pageSizeSelect" data-sortby="@currentPage.getSortBy()" data-order="@currentPage.getOrder()" data-search-term="@currentPage.getSearchTerm()" data-search-field="@currentPage.getSearchField()" onchange="onPageSizeSelect()">
                        @for(option <- currentPage.getPageSizes()) {
                            <option value="@option.value" @option.selected>@option.text</option>
                        }
                    </select>
                </div>
            </span>
            <span style="float:right;font-size:16px"><div class="search">Page Size:</div></span>
        </h1>
    }

    @if(!currentPage.hasRows()) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

        <script type="text/javascript">
            document.getElementById("homeCount").innerHTML = "No elements";
        </script>

    } else {

        <table>
            <thead>
                <tr>
                    <th style="width:55px"><input style="margin-right:5px" id="all" type="checkbox" value="ALL">Row</th>
                    @header("tech", "Name")
                    @header("date", "Date")
                    @header("root_project", "Root")
                    @header("sub_project", "Sub Project")
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Lunch</th>
                    <th>Break</th>
                    <th>Drive</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>

                @currentPage.resetRowNumber()
                @for(entry <- currentPage.getList()) {
                    @currentPage.incRowNumber()
                    <tr>
                        <td><input class="entryCheckbox" style="margin-right:5px" type="checkbox" value="@entry.id">@currentPage.getRowNumber()</td>
                        <td>@currentPage.highlightSearch(entry.getTechName(), HoursPagedList.ColumnSelector.TECH)</td>
                        <td>@entry.getEntryTime()</td>
                        <td>@currentPage.highlightSearch(entry.getRootProjectName(), HoursPagedList.ColumnSelector.ROOT_PROJECT_ID)</td>
                        <td>@currentPage.highlightSearch(entry.getSubProjectName(), HoursPagedList.ColumnSelector.SUB_PROJECT_ID)</td>
                        <td>@entry.getStartTime()</td>
                        <td>@entry.getEndTime()</td>
                        <td>@entry.getLunchTime()</td>
                        <td>@entry.getBreakTime()</td>
                        <td>@entry.getDriveTime()</td>
                        <th>@entry.getNotes()</th>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                <li id="previous" class="@currentPage.getPrevClass()">
                    <a href="@link(currentPage.getPageIndex() - 1, null)">&larr; Previous</a>
                </li>
                <li class="current">
                    <a id="currentPage">@currentPage.getDisplayingXtoYofZ()</a>
                </li>
                <li id="next" class="@currentPage.getNextClass()">
                    <a href="@link(currentPage.getPageIndex() + 1, null)">Next &rarr;</a>
                </li>
            </ul>
        </div>

        <script type="text/javascript">
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText.length > 0 && this.status == 200) {
                    var line = this.responseText;
                    var bits = line.split("|");
                    document.getElementById("previous").setAttribute("class", bits[0])
                    document.getElementById("currentPage").innerHTML = bits[1];
                    document.getElementById("next").setAttribute("class", bits[2]);
                    document.getElementById("homeCount").innerHTML = bits[3];
                }
            };
            xhttp.open("GET", "@routes.HoursController.computeTotalNumRows()", true);
            xhttp.send();
        </script>

    }

    @if(client.is_admin) {

        <script type="text/javascript">

            <!-- ALL CHECKBOX -->

            function myCheckboxALL() {
                var allCheckbox = document.getElementById('all');
                var inputElements = document.getElementsByClassName('entryCheckbox');
                for (var i=0; inputElements[i]; ++i) {
                    inputElements[i].checked = allCheckbox.checked;
                }
            }

            document.getElementById("all").onclick = myCheckboxALL;

            <!-- PAGE SIZE SELECT -->

            function onPageSizeSelect() {
                var e = document.getElementById("pageSizeSelect");
                var selected = e.options[e.selectedIndex].value;
                var dataSortBy = e.getAttribute('data-sortby');
                var dataOrder = e.getAttribute('data-order');
                var dataSearchTerm = e.getAttribute('data-search-term');
                if (dataSearchTerm.length == 0) {
                    dataSearchTerm = "null";
                }
                var dataSearchField = e.getAttribute('data-search-field');
                if (dataSearchField.length == 0) {
                    dataSearchField = "null";
                }
                var pageSize = selected;
                var call = "/hours/list/0/" + pageSize + "/" + dataSortBy + "/" + dataOrder + "/" + dataSearchField + "/" + encodeURIComponent(dataSearchTerm);
                var location = window.location.href;
                var pathArray = location.split('/');
                var protocol = pathArray[0];
                var host = pathArray[2];
                var longCall = protocol + "//" + host + call;
                window.location.href = longCall;
            }

        </script>
    }

}

            
