@(header: String, client : Client = null, home : String = "/")(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>FleetTLC</title>

        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill"><a href=@home>@header</a>
                @if(client!=null) {
                    <span style="float:right;font-size:15px">
                        @if(client.isValid()){
                            @client.name: <a href="@routes.HomeController.logout()">logout</a>
                        } else {
                            <a href="@routes.HomeController.login()">Login</a>
                        }
                    </span>
                }
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
