@(header: String, isLoggedIn : Boolean = false, userInfo : UserInfo = null)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>FleetTLC</title>

        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill"><a href="@routes.HomeController.index">@header</a>
                @if(userInfo!=null){
                    <span style="float:right;font-size:15px">
                        @if(isLoggedIn){
                            <a href="@routes.HomeController.logout()">Logout</a>
                        } else {
                            userInfo.name
                            <a href="@routes.HomeController.login()">Login</a>
                        }
                    </span>
                }
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
