@(currentPage: MessageList, currentSortBy: String, currentOrder: String, client : Client)

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.MessageController.list(newPage, sortBy, order)
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FleetTLC - List Error Messages", client) {

    <h1 id="homeTitle">@Messages("message.list.title", currentPage.getTotalRowCount())
        <span style="float:right;font-size:16px">
                    <div>
                        <select style="width:80px" id="pageSizeSelect" onchange="onPageSizeSelect()">
                            @for(option <- currentPage.getPageSizes()) {
                                <option value="@option.text" @option.selected>@option.text</option>
                            }
                        </select>
                    </div>
                </span>
        <span style="float:right;font-size:16px"><div class="search">Page Size:</div></span>
    </h1>

    @if(currentPage.getTotalRowCount() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="messages zebra-striped">
            <thead>
                <tr>
                    @header("tech_id", "Name")
                    @header("log_time", "Date")
                    @header("code", "Code")
                    @header("message", "Message")
                    <th>Version</th>
                    <th>Trace</th>
                </tr>
            </thead>
            <tbody>

                @for(message <- currentPage.getList()) {
                    <tr>
                        <td>@message.getTechName()</td>
                        <td>@message.log_time.format("MM/dd kk:mm")</td>
                        <td>@message.getCodeName()</td>
                        <td>@message.message</td>
                        <td>@message.getAppVersion()</td>
                        <td>
                        @if(message.trace == null) {
                            <em>-</em>
                        } else {
                            <a href="@routes.MessageController.view(message.id)">Trace</a>
                        }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }

    @if(client.is_admin) {
        <div class="actions">
            <a href="@routes.MessageController.deleteAll()" class="btn danger" onclick="return confirm('This cannot be undone. Are you sure?');">Delete all messages</a>
            <a href="@routes.MessageController.deletePage()" class="btn danger" onclick="return confirm('This cannot be undone. Are you sure?');">Delete all messages on page</a>
        </div>
    }

    <script type="text/javascript">

        <!-- PAGE SIZE SELECT -->

        function onPageSizeSelect() {
            var e = document.getElementById("pageSizeSelect");
            var selected = e.options[e.selectedIndex].value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.responseText.length > 0 && this.status == 200) {
                    location.reload(true);
                }
            };
            var call = "/entry/page_size/" + selected;
            xhttp.open("GET", call, true);
            xhttp.send();
        }

    </script>

}

            