@(id: Long, noteForm: Form[Note])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Note", home = "/note") {
    
    <h1>Edit note</h1>
    
    @b3.form(routes.NoteController.update(id)) {

        @CSRF.formField

        <fieldset>
        
            @b3.text(noteForm("name"), '_label -> "Name", '_help -> "")
            @b3.number(noteForm("num_digits"), '_label -> "Num Digits", '_help -> "")
            @b3.select(
                noteForm("type"),
                options(Note.options),
                '_label -> "Input Type", '_default -> "-- Choose a type --",
                '_showConstraints -> false
            )

        </fieldset>

        <table class="projects zebra-striped">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
                @for(project <- Project.list()) {
                    <tr>
                        <td>@project.getFullProjectName()</td>
                        <td>
                            @if(Note.hasProject(id, project.id)) {
                                <a href="@routes.NoteController.removeProject(id, project.id)">Delete</a>
                            } else {
                                <a href="@routes.NoteController.addProject(id, project.id)">Add</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="actions">
            <input type="submit" value="Save this note" class="btn primary"> or
            <a href="@routes.NoteController.list()" class="btn">Cancel</a>
        </div>

    }

    @b3.form(routes.NoteController.delete(id), 'class -> "topRight") {
        @CSRF.formField
        @if(Note.isDisabled(id)) {
            <a href="@routes.NoteController.enable(id)" class="btn">Enable Note</a>
        } else {
            @if(Entry.hasEntryForNote(id)) {
                <input type="submit" value="Disable note" class="btn danger" onclick="return alert('The note, since it has entries, will be moved to the disabled list.');">
            } else {
                <input type="submit" value="Delete note" class="btn danger" onclick="return confirm('Are you sure you wish to delete this note?');">
            }
        }
    }
    
}
