@(currentPage: List[Note], client : Client)

@main("FleetTLC - List Notes", client) {

    <h1 id="homeTitle">@Messages("note.list.title", currentPage.size())</h1>

    @if(currentPage.size() == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="notes zebra-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Projects</th>
                    <th>Type</th>
                    <th>Edit</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>

                @for(note <- currentPage) {
                    <tr>
                        <td>
                            @if(note.name == null) {
                                <em>-</em>
                            } else {
                                @note.name
                            }
                        </td>
                        <td>
                            @note.getProjectsLine()
                        </td>
                        <td>
                            @note.getTypeString()
                        </td>
                        <td>
                            <a href="@routes.NoteController.edit(note.id)">Edit</a>
                        </td>
                        <td>
                            @note.getCreatedBy()
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        
    }

    <a class="btn success" id="add" href="@routes.NoteController.create()">Add a new note item</a>

    @if(client.is_admin) {
        <a class="btn success" id="addMany" href="@routes.NoteController.createMany()">Add many note items</a>
    }

}

            