@(id: Long, projectForm: Form[Project], client : Client)

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Project", client, "/project") {
    
    <h1>Edit project</h1>
    
    @b3.form(routes.ProjectController.update(id)) {
        
        <fieldset>
        
            @b3.text(projectForm("name"), '_label -> "Name", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this project" class="btn primary"> or
            <a href="@routes.ProjectController.list()" class="btn">Cancel</a>
        </div>
    }

    @if(client.is_admin) {
        @b3.form(routes.ProjectController.delete(id), 'class -> "topRight") {
            @if(Project.isDisabled(id)) {
                <a href="@routes.ProjectController.enableProject(id)" class="btn">Enable Project</a>
            } else {
                @if(Entry.hasEntryForProject(id)) {
                    <input type="submit" value="Disable Project" class="btn danger">
                } else {
                    <input type="submit" value="Delete Project" class="btn danger">
                }
            }
        }
    }
}
