@(id: Long, projectForm: Form[views.formdata.InputProject], client : Client)

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Sub Project", client, "/project") {
    
    <h1>Edit Sub Project</h1>
    
    @b3.form(routes.ProjectController.update(id)) {

        @CSRF.formField

        <fieldset>

            @b3.select(
                projectForm("rootProject"),
                options(Entry.optionsRootProject),
                '_label -> "Root Project", '_default -> "-- Choose Root Project --",
                '_showConstraints -> false
            )
            @b3.text(projectForm("name"), '_label -> "Name", '_help -> "")

        </fieldset>

        <h3>Equipment</h3>

        <div class="checkbox-container-columns">

            @for(equipment <- Equipment.list()) {
                <div class="checkbox-item">
                    @if(ProjectEquipmentCollection.hasEquipment(id, equipment.id)) {
                        @b3.checkbox(projectForm(equipment.name), '_label -> equipment.name, 'checked -> true)
                    } else {
                        @b3.checkbox(projectForm(equipment.name), '_label -> equipment.name)
                    }
                </div>
                <div style="clear:both;"></div>
            }

        </div>

        <h3>Notes</h3>

        <div class="checkbox-container-columns">

            @for(note <- Note.list()) {
                <div class="checkbox-item">
                    @if(ProjectNoteCollection.hasNote(id, note.id)) {
                        @b3.checkbox(projectForm(note.name), '_label -> note.name, 'checked -> true)
                    } else {
                        @b3.checkbox(projectForm(note.name), '_label -> note.name)
                    }
                </div>
                <div style="clear:both;"></div>
            }

        </div>

        <div class="actions">
            <input type="submit" value="Save this sub project" class="btn primary"> or
            <a href="@routes.ProjectController.list()" class="btn">Cancel</a>
        </div>
    }

    @if(client.is_admin) {
        @b3.form(routes.ProjectController.delete(id), 'class -> "topRight") {

            @CSRF.formField

            @if(Project.isDisabled(id)) {
                <a href="@routes.ProjectController.enable(id)" class="btn">Enable Sub Project</a>
            } else {
                @if(Entry.hasEntryForProject(id)) {
                    <input type="submit" value="Disable Sub Project" class="btn danger" onclick="return alert('The sub project, since it has entries, will be moved to the disabled list.');">
                } else {
                    <input type="submit" value="Delete Sub Project" class="btn danger" onclick="return confirm('Are you sure you wish to delete this sub project?');">
                }
            }
        }
    }
}
