@(id: Long, projectForm: Form[InputProject], client : Client)

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Project", client, "/project") {
    
    <h1>Edit project</h1>
    
    @b3.form(routes.ProjectController.update(id)) {

        @CSRF.formField

        <fieldset>
        
            @b3.text(projectForm("name"), '_label -> "Name", '_help -> "")

        </fieldset>

        <h3>Equipment</h3>

        <div class="checkbox-container-columns">

            @for(equipment <- Equipment.list()) {
                @if(ProjectEquipmentCollection.hasEquipment(id, equipment.id)) {
                    @b3.checkbox(projectForm(equipment.name), '_label -> equipment.name, 'checked -> true)
                } else {
                    @b3.checkbox(projectForm(equipment.name), '_label -> equipment.name)
                }
                <div style="clear:both;"></div>
            }

        </div>

        <h3>Notes</h3>

        <div class="checkbox-container-columns">

            @for(note <- Note.list()) {
                @if(ProjectNoteCollection.hasNote(id, note.id)) {
                    @b3.checkbox(projectForm(note.name), '_label -> note.name, 'checked -> true)
                } else {
                    @b3.checkbox(projectForm(note.name), '_label -> note.name)
                }
                <div style="clear:both;"></div>
            }

        </div>

        <div class="actions">
            <input type="submit" value="Save this project" class="btn primary"> or
            <a href="@routes.ProjectController.list()" class="btn">Cancel</a>
        </div>
    }

    @if(client.is_admin) {
        @b3.form(routes.ProjectController.delete(id), 'class -> "topRight") {

            @CSRF.formField

            @if(Project.isDisabled(id)) {
                <a href="@routes.ProjectController.enable(id)" class="btn">Enable Project</a>
            } else {
                @if(Entry.hasEntryForProject(id)) {
                    <input type="submit" value="Disable Project" class="btn danger" onclick="return alert('The project, since it has entries, will be moved to the disabled list.');">
                } else {
                    <input type="submit" value="Delete Project" class="btn danger" onclick="return confirm('Are you sure you wish to delete this project?');">
                }
            }
        }
    }
}
