@(linesForm: Form[views.formdata.InputLines], client : Client)

@import helper._

@import b3.vertical.fieldConstructor

@main("Fleet TLC - New Projects", home = "/project") {
    
    <h1>Add many projects</h1>

    <p>You may create several projects at once. One project pair per line.<br>
        A project pair is a root project name followed by a dash, followed by a new sub project name.<br>
        For example: Alamo - New Sub Project Name<br>
        The root project name must exist. The sub project is expected not to exist.
    </p>

    @helper.form(routes.ProjectController.saveMany()) {

        @CSRF.formField

        <fieldset>
            @helper.textarea(linesForm("line"), 'rows -> 10, 'cols -> 80, '_label -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Create these sub projects" class="btn primary"> or
            <a href="@routes.ProjectController.list()" class="btn">Cancel</a>
        </div>
    }

    <p>After creating, go to Edit Project to easily assign Equipments and Notes.</p>

}