@(currentPage: List[Project], client : Client, disabled : Boolean)

@header = { @Messages("project.list.title", currentPage.size()) }

@main(Messages("project.list.header", if (disabled) "Disabled" else "Active"), client) {

    @if(Project.hasDisabled()) {
        @if(disabled) {
            <h1 id="homeTitle" class="fill">@header
                <span style="float:right;font-size:16px">
                    <a href="@routes.ProjectController.list()">Show Active Projects</a>
                </span>
            </h1>
        } else {
            <h1 id="homeTitle" class="fill">@header
                <span style="float:right;font-size:16px">
                    <a href="@routes.ProjectController.list_disabled()">Show Disabled Projects</a>
                </span>
            </h1>
        }
    } else {
        <h1 id="homeTitle">@header</h1>
    }

    @if(currentPage.size() == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="projects zebra-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Equipment</th>
                    <th>Notes</th>
                    <th>Entries</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>

                @for(project <- currentPage) {
                    <tr>
                        <td>
                            @if(project.name == null) {
                                <em>-</em>
                            } else {
                                @project.name
                            }
                        </td>
                        <td>@project.getEquipmentsLine()</td>
                        <td>@project.getNotesLine()</td>
                        <td>@project.countEntries()</td>
                        <td>
                            @if(client.is_admin) {
                                <a href="@routes.ProjectController.edit(project.id)">Edit</a>
                            } else {
                                <em>-</em>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        
    }

    @if(client.is_admin && !disabled) {
        <a class="btn success" id="add" href="@routes.ProjectController.create()">Add a new project</a>
        <a class="btn success" id="addMany" href="@routes.ProjectController.createMany()">Add many projects</a>
    }

}

            