@(id: Long, techForm: Form[Technician], client : Client)

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Technician", home = "/tech") {
    
    <h1 id="homeTitle" class="fill">Edit user
        <span style="float:right;font-size:16px">
        @if(client.is_admin) {
            <a href="@routes.TechnicianController.resetUpload(id)">Reset Upload</a>
        }
        @if(Technician.canDelete(id)) {
            &nbsp;&nbsp;
            <a href="@routes.TechnicianController.delete(id)" class="btn danger" onclick="return confirm('Are you sure?');">Delete this technician</a>
        }
        </span>
    </h1>

    @b3.form(routes.TechnicianController.update(id)) {

        @CSRF.formField

        <fieldset>
        
            @b3.text(techForm("first_name"), '_label -> "First Name", '_help -> "")
            @b3.text(techForm("last_name"), '_label -> "Last Name", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this technician" class="btn primary"> or
            <a href="@routes.TechnicianController.list()" class="btn">Cancel</a>
        </div>

    }
}
