@(id: Long, truckForm: Form[InputTruck])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - Edit Truck Number", home = "/truck") {
    
    <h1>Edit client</h1>
    
    @b3.form(routes.TruckController.update(id)) {

        @CSRF.formField

        <fieldset>

            @b3.text(truckForm("truck_number"), '_label -> "Truck Number", '_help -> "")
            @b3.text(truckForm("license_plate"), '_label -> "License Plate", '_help -> "")
            @b3.select(truckForm("project_name"), options = options(Project.listNamesWithBlank()), args = '_label -> "Project:")
            @b3.select(truckForm("company_name"), options = options(CompanyName.getNamesWithBlank()), args = '_label -> "Company:")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this truck" class="btn primary"> or
            <a href="@routes.TruckController.list()" class="btn">Cancel</a>
        </div>

    }

    @if(truckForm.get().canDelete()) {
        @b3.form(routes.TruckController.delete(id), 'class -> "topRight") {
            @CSRF.formField
            <input type="submit" value="Delete this truck" class="btn danger">
        }
    }
    
}
