@(currentPage: WorkOrderSummaryList, currentSortBy: String, currentOrder: String, client : Client, message : String)

@import helper._

@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    routes.WorkOrderController.list(newPage, sortBy, order)
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main("FleetTLC - List Work Order Summaries", client) {

    <style>
        span {padding-left:50px}
    </style>

    <h1 id="homeTitle" class="fill">@Messages("workordersummary.list.title", currentPage.getTotalRowCount())
        <span style="float:right;font-size:16px"><a href="@routes.WorkOrderController.exportWorkOrders()">Export Work Orders</a></span>
        <span style="float:right;font-size:16px"><a href="@routes.WorkOrderController.importWorkOrdersForm()">Import Work Orders</a></span>
    </h1>

    @if(message.length() > 0) {
        <div class="message">
            <em>@Html(HtmlFormat.escape(message).toString.replace("\n", "<br />"))</em>
        </div>
    }

    @if(currentPage.getTotalRowCount() == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table>
            <thead>
                <tr>
                    @header("client_id", "Client")
                    @header("project_id", "Project")
                    <th># Companies</th>
                    <th># Trucks</th>
                    <th># Complete</th>
                    <th>Last Modified</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>

                @for(summary <- currentPage.getList()) {
                    <tr>
                        <td>@summary.getClientName()</td>
                        <td>@summary.getProjectName()</td>
                        <td>@summary.getNumCompanies()</td>
                        <td>@summary.getNumTrucks()</td>
                        <td>@summary.getNumComplete()</td>
                        <td>@summary.getLastModified()</td>
                        <td>
                            <a href="@routes.WorkOrderController.listOrders(summary.getUploadId())">View</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev()) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex() - 1, null)">&larr; Previous</a>
                </li>
                } else {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext()) {
                <li class="next">
                    <a href="@link(currentPage.getPageIndex() + 1, null)">Next &rarr;</a>
                </li>
                } else {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
                }
            </ul>
        </div>
    }

}

            